<body>
    <h1>Add New Car</h1>
    <form action="/products" method="POST" enctype="multipart/form-data">
        <label for="">Nama</label>
        <input type="text" name="name" placeholder="Avanza"><br>
        <label for="">Sewa Per Hari</label>
        <input type="text" name="sewa" placeholder="Rp 0,-"><br>
        <label for="">Ukuran</label>
        <input type="text" name="stock" placeholder="Small"><br>
        <label for="">Foto</label>
        <input type="file" name="https://placeimg.com/640/480/any"><br>
        <button type="submit">Cancel</button>
        <button type="submit">Save</button>
    </form>
</body>
</html>